@import './assets/fonts.css';

.App {
  text-align: center;
}

main {
  background-color: #2e2e2e;
  height: 100vh;
  color: white;
  font-family: 'Minecraftia';
}

.title {
  font-size: 46px;
}

.clickable {
  cursor: pointer;
}

.display-linebreak {
  white-space: pre-line;
}

.disabled-text {
  text-decoration: line-through;
  cursor: default;
}
