.auth-page .form-element + .form-element {
  margin-top: 10px;
}

.auth-page .auth-form {
  margin-bottom: 10px;
  width: 100%;
}

.auth-page #img-col {
  flex: 1;
  overflow: hidden;
}

.auth-page #form-col {
  display: flex;
  flex: 1;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 0 50px;
}

.auth-page {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.auth-page .input-container {
  flex: 1;
  margin: 20px 0;
  justify-content: space-between;
  flex-direction: column;
  display: flex;
  align-items: flex-start;
}

.auth-page .oauth-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  justify-content: center;
}

.auth-page .oauth-btn {
  width: 100px;
  height: 50px;
  background-color: #fff;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.auth-page .oauth-btn + .oauth-btn {
  margin-left: 10px;
}

.auth-page .oauth-icon {
  height: 80%;
}

.auth-page .background-img {
  height: 100%;
}

.auth-page .error-text {
  color: red;
}

.auth-page .tooltip-list-container {
  text-align: left;
}
