.container .black-ninja {
  background-image: url('../assets/static/gamescreen/ninjas/black-ninja.png');
  background-size: contain;
  background-repeat: no-repeat;
  height: 100px;
  width: 70px;
  margin-bottom: 3vw;
}

.container .red-ninja {
  background-image: url('../assets/static/gamescreen/ninjas/red-ninja.png');
  background-size: contain;
  background-repeat: no-repeat;
  height: 100px;
  width: 70px;
  margin-bottom: 3vw;
}

.container .blue-ninja {
  background-image: url('../assets/static/gamescreen/ninjas/blue-ninja.png');
  background-size: contain;
  background-repeat: no-repeat;
  height: 100px;
  width: 70px;
  margin-bottom: 3vw;
}

.container .pink-ninja {
  background-image: url('../assets/static/gamescreen/ninjas/pink-ninja.png');
  background-size: contain;
  background-repeat: no-repeat;
  height: 100px;
  width: 70px;
  margin-bottom: 3vw;
}

.container .green-ninja {
  background-image: url('../assets/static/gamescreen/ninjas/green-ninja.png');
  background-size: contain;
  background-repeat: no-repeat;
  height: 100px;
  width: 70px;
  margin-bottom: 3vw;
}

.container .draco {
  background-image: url("../assets/static/bosses/draco.png");
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 6vw;
  height: 30vw;
  width: 25vw;
}

.container .screamer {
  background-image: url("../assets/static/bosses/screamer.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 30vw;
  width: 25vw;
  margin-left: 6vw;
}

.container .tiny {
  background-image: url("../assets/static/bosses/tiny.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 28vw;
  width: 22vw;
}

.container {
  display: grid;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 998;
  pointer-events: none;
}
