.ninja {
  background-image: url("../assets/images/ninja.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 100px;
  width: 70px;
  margin-bottom: 3vw;
}

.container {
  display: grid;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 998;
}