.container {
  position: relative;
  height: 100%;
  width: 100%;
}

.hexagon {
  width: 60px;
  height: 65px;
  background: #9980fa;
  clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
}

.hexagon::before {
  content: '';
  position: absolute;

  width: 60px;
  height: 65px;
  color: red;
  background-color: rgb(255, 255, 255, 0.3);
}

.hexagon:hover:before {
  background-color: rgb(24, 29, 35, 0);
} 

.hex3row {
  display: grid;
  justify-content:center;
  grid-template-columns: 70px 70px 70px;
  margin: -10px 0 0 10px;
}

.hex4row {
  display: grid;
  justify-content:center;
  grid-template-columns: 70px 70px 70px 70px;
  margin: -10px 0 0 10px;
}

.hex5row {
  display:grid;
  justify-content: center;
  grid-template-columns: 70px 70px 70px 70px 70px;
  margin: -10px 0 0 10px;
}
.hex6row {
  display:grid;
  justify-content: center;
  grid-template-columns: 70px 70px 70px 70px 70px 70px;
  margin: -10px 0 0 10px;
}
.hex7row {
  display:grid;
  justify-content: center;
  grid-template-columns: 70px 70px 70px 70px 70px 70px 70px;
  margin: -10px 0 0 10px;
}
