.container {
  position: absolute;
  height: 100%;
  width: 100%;
}

.gamescreen {
  display:grid;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  width: 100%;
}

.main {
  display: grid;
  grid-row-gap: 2.5vw;
  grid-template-columns: repeat(13, 4.3vw);
  grid-auto-rows: 4.3vw;
  grid-template-areas: ". . . gA1 . gA2 . gA3 . gA4 . . ." 
  ". . gB1 . gB2 . gB3 . gB4 . gB5 . ." 
  ". gC1 . gC2 . gC3 . gC4 .  gC5 . gC6 ."
  "gD1 . gD2 . gD3 . gD4 . gD5 . gD6 . gD7"
  ". gE1 . gE2 . gE3 . gE4 .  gE5 . gE6 ."
  ". . gF1 . gF2 . gF3 . gF4 . gF5 . ." 
  ". . . gG1 . gG2 . gG3 . gG4 . . ." 
  ;

  justify-content: space-evenly;
}

.hexagon-move {
  background-color: #9980fa;
  width: 90%;
  height: 100%;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  transform: scale(1.8);
  transition: 0.5s;
  z-index: 3;

  display: grid;
  align-items: center;
}

.hexagon-move:hover {
  background-color: white;
}

.hexagon {
  background-color: #9980fa;
  width: 90%;
  height: 100%;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  transform: scale(1.8);
  transition: 0.5s;
  z-index: 3;

  display: grid;
  align-items: center;
}

.clickable {
  pointer-events: all;
}

.background-hex {
  background-color: #2e2e2e;
  width: 100%;
  height: 100%;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  transform: scale(0.9);
  transition: 0.3s;

  display: grid;
  align-items: center;
  z-index: 4;
}

.content-hex {
  background-color: #2e2e2e;
  width: 100%;
  height: 100%;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  transform: scale(0.85);
  transition: 0.5s;
  z-index: 5;
}

#hexA1 {
  grid-area: gA1;
}

#hexA2 {
  grid-area: gA2;
}

#hexA3 {
  grid-area: gA3;
}

#hexA4 {
  grid-area: gA4;
}

#hexB1 {
  grid-area: gB1;
}

#hexB2 {
  grid-area: gB2;
}

#hexB3 {
  grid-area: gB3;
}

#hexB4 {
  grid-area: gB4;
}

#hexB5 {
  grid-area: gB5;
}

#hexC1 {
  grid-area: gC1;
}

#hexC2 {
  grid-area: gC2;
}

#hexC3 {
  grid-area: gC3;
}

#hexC4 {
  grid-area: gC4;
}

#hexC5 {
  grid-area: gC5;
}

#hexC6 {
  grid-area: gC6;
}

#hexD1 {
  grid-area: gD1;
}

#hexD2 {
  grid-area: gD2;
}

#hexD3 {
  grid-area: gD3;
}

#hexD4 {
  grid-area: gD4;
}

#hexD5 {
  grid-area: gD5;
}

#hexD6 {
  grid-area: gD6;
}

#hexD7 {
  grid-area: gD7;
}

#hexE1 {
  grid-area: gE1;
}

#hexE2 {
  grid-area: gE2;
}

#hexE3 {
  grid-area: gE3;
}

#hexE4 {
  grid-area: gE4;
}

#hexE5 {
  grid-area: gE5;
}

#hexE6 {
  grid-area: gE6;
}

#hexF1 {
  grid-area: gF1;
}

#hexF2 {
  grid-area: gF2;
}

#hexF3 {
  grid-area: gF3;
}

#hexF4 {
  grid-area: gF4;
}

#hexF5 {
  grid-area: gF5;
}

#hexG1 {
  grid-area: gG1;
}

#hexG2 {
  grid-area: gG2;
}

#hexG3 {
  grid-area: gG3;
}

#hexG4 {
  grid-area: gG4;
}


#hexS-L1 {
  grid-area: gD1;
}

#hexS-L2 {
  grid-area: gD2;
}

#hexS-L3 {
  grid-area: gD3;
}


#hexS-R1 {
  grid-area: gD5;
}

#hexS-R2 {
  grid-area: gD6;
}

#hexS-R3 {
  grid-area: gD7;
}



#hexS-U1 {
  grid-area: gA2;
}

#hexS-U2 {
  grid-area: gB3;
}

#hexS-U3 {
  grid-area: gC3;
}



#hexS-D1 {
  grid-area: gG3;
}

#hexS-D2 {
  grid-area: gF3;
}

#hexS-D3 {
  grid-area: gE4;
}


#hexE-UL1 {
  grid-area: gA1;
}

#hexE-UL2 {
  grid-area: gB2;
}

#hexE-UL3 {
  grid-area: gC3;
}

#hexE-U1 {
  grid-area: gA2;
}

#hexE-U2 {
  grid-area: gA3;
}

#hexE-U3 {
  grid-area: gB3;
}

#hexE-UR1 {
  grid-area: gA4;
}

#hexE-UR2 {
  grid-area: gB4;
}

#hexE-UR3 {
  grid-area: gC4;
}

#hexE-DL1 {
  grid-area: gE3;
}

#hexE-DL2 {
  grid-area: gF2;
}

#hexE-DL3 {
  grid-area: gG1;
}


#hexE-D1 {
  grid-area: gF3;
}

#hexE-D2 {
  grid-area: gG2;
}

#hexE-D3 {
  grid-area: gG3;
}

#hexE-DR1 {
  grid-area: gE4;
}
#hexE-DR2 {
  grid-area: gF4;
}

#hexE-DR3 {
  grid-area: gG4;
}

#hexE-L1 {
  grid-area: gB1;
}
#hexE-L2 {
  grid-area: gC1;
}
#hexE-L3 {
  grid-area: gC2;
}
#hexE-L4 {
  grid-area: gD1;
}

#hexE-L5 {
  grid-area: gD2;
}

#hexE-L6 {
  grid-area: gD3;
}

#hexE-L7 {
  grid-area: gE1;
}

#hexE-L8 {
  grid-area: gE2;
}

#hexE-L9 {
  grid-area: gF1;
}

#hexE-R1 {
  grid-area: gB5;
}
#hexE-R2 {
  grid-area: gC5;
}
#hexE-R3 {
  grid-area: gC6;
}
#hexE-R4 {
  grid-area: gD5;
}

#hexE-R5 {
  grid-area: gD6;
}

#hexE-R6 {
  grid-area: gD7;
}

#hexE-R7 {
  grid-area: gE5;
}

#hexE-R8 {
  grid-area: gE6;
}

#hexE-R9 {
  grid-area: gF5;
}
