@import '../assets/fonts.css';

.input-component:focus,
input:not(:placeholder-shown) {
  opacity: 1;
  outline: none !important;
}

.input-component:not(:focus):placeholder-shown:not(.error-input) {
  opacity: 0.8;
  border-color: transparent !important;
}

.input-component {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  border-style: solid;
  font-family: Minecraftia;
}

.input-component.black-input {
  background-color: #222222;
  color: #ffffff;
  width: 100%;
  font-size: 18px;
  padding: 8px;
  border-color: #ffffff;
}

.input-component.error-input {
  background-color: #222222;
  color: #ffffff;
  font-size: 18px;
  width: 100%;
  border-color: red;
  padding: 8px;
}
.input-component:not(:last-child) {
  padding: 8px 40px 8px 8px;
}
.input-component-wrapper {
  padding: 8px;
  width: 100%;
  position: relative;
}

.input-icon {
  font-size: initial;
  height: 20px;
  width: 20px;
  position: absolute;
  box-sizing: border-box;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}
