.lobby-page {
    display:flex;
    flex:1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:0px 50px;
    height:100%;
}


.lobby-page .button-container Button + Button {
    margin-top: 20px;
}


.lobby-page .body {
    display:flex;
    width:100%;
    justify-content:center;
}

.lobby-page .select {
    flex:1;
    display:flex;
    justify-self: end;
    justify-content:flex-end;
    flex-direction: column;
    margin-right:25px
}

.lobby-page .role-select {
    height: 50px;
    width: 50px;
    padding: 20px;

}

.lobby-page .options {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.lobby-page .ninja-img {
    height:400px
}

.lobby-page .arrow-img {
    transition: 0.5s;
    height:40px
}

.lobby-page .arrow-img.left {
    transition: 0.5s;
    transform: rotateY(180deg);
}

.lobby-page .arrow-img:hover {
    transition: 0.75s;
    filter: brightness(150%);
}

.lobby-page .arrow-img:hover {
    transition: 0.75s;
    filter: brightness(150%);
}

.lobby-page .button-container {
    flex:1;
    display:flex;
    justify-content:flex-start;
    align-items:center;
    margin-left: 25px;
}

.lobby-page .button-inner-container {
    width:300px
}
