

#body-container {
    display:flex;
    flex:1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:0px 50px;
    height:100%;
}


Button + Button {
    margin-top: 20px;
}
