.moveset {
  position: absolute;
  z-index: 0;
  display: grid;
  width: 100%;
  height: 100%;

  grid-template-columns: repeat(7, 18%);

  justify-content: space-evenly;

  grid-template-areas: 
  ". . . . . . ."
  ". timer . . . movesRemaining ." 
  ". turns . . . hearts ."
  ". . . . . . ."
  ". . . . . . ."
  ". . . . . . ."
  ". . . . . . ."
  ". . . . . . ."
  ". . . . . . ."
  ". . . . . . ."
  ". move1 . . . move2 ."
  ". . . . . . ."
  ". move3 . . . move4 ." 
  ". . . . . . .";
}

.move {
  background-color: #FF8A00;
  color: white;
  border-radius: 8px;
  height: 100%;
  width: 100%;
  padding: 4px;

  display: flex;
  font-weight: bolder;
  font-size: 1.2vw;
  align-items: center;
  justify-content: center;
}

#move1 { 
  grid-area: move1;
}

#move2 { 
  grid-area: move2;
}

#move3 { 
  grid-area: move3;
}

#move4 { 
  grid-area: move4;
}

#timer {
  grid-area: timer;
  color: white;
  font-size: 10vw;
}

#movesRemaining {
  grid-area: movesRemaining;
  color: white;
  font-size: 4vw;
  text-align: center;
}

#turns {
  grid-area: turns;
}

#hearts {
  grid-area: hearts;
}

.heart {
  background-image: url("../assets/images/heart.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 100px;
  width: 70px;
}

.user {
  display: flex;
  height: 100%;
  width: 100%;

  flex-direction: row;
}